.header {
    position: fixed;
    width: fit-content;
    top: 0;
    left: 0;
    transition: all 0.5s ease-out;
    z-index: 1035;
}

.header-border {
    // TODO: Fix `.border` not being imported from Bootstrap
    //  since Bootstrap doesn't use latest SASS syntax.
    @extend .border !optional;
    @extend .border-primary !optional;
    border-width: 2px !important;
}

.header.header-hidden {
    top: -100px;
    visibility: hidden;
}
